@model IEnumerable<IceCreamStore.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <div>There are @Enumerable.Count(Model) objects.</div>
    <div>There are @Model.Count() objects.</div>
</div>

<div class="row">
    <div class="col-md-4 text-center">
        @*<ul>
            @foreach (var restaurant in Model)
            {
                <li>@restaurant.Name - @restaurant.Location</li>
            }
        </ul>*@
    </div>
</div>